<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sheets.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Sheets.Settings>
            <setting name="Scale" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TextHeight" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="NoBlock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Prefix" serializeAs="String">
                <value>Лист </value>
            </setting>
            <setting name="UsePrefix" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RadioNone" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RadioList" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RadioLayer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RadioManual" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RadioAttribute" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastBlock" serializeAs="String">
                <value />
            </setting>
            <setting name="LastTag" serializeAs="String">
                <value />
            </setting>
            <setting name="BlockScale" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="ScaleExist" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SelfNumberColor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LC_Overlap" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LC_LayoutName" serializeAs="String">
                <value>NewLayout</value>
            </setting>
            <setting name="LC_OnLine" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LC_LOCreate" serializeAs="String">
                <value>True</value>
            </setting>
        </Sheets.Settings>
    </userSettings>
</configuration>